<h1>Available Projects</h1>
<ul>
	<% @projects.each do |project| %>
	<li>
		<%= link_to project.title , project%>
	</li>
	<%end%>
</ul>
<%if current_user.manager?%>
<%= link_to "New Project", new_project_path %>



<%end%>
<%if @projects.empty?%>

<p> No Project Assigned!</p>
<%end%>
