<h1>Available Bugs</h1>
<ul>
	<% @bugs.each do |bug| %>
	<li>
		<%= link_to bug.title , bug%>
	</li>
	<%end%>
</ul>
	

<% if !current_user.developer? %>
<%= link_to "Create New Bug", new_bug_path %>
<%else%>
<p> No Bugs Available!</p>
<%end%>


